// colores
$Azul: #111e6c;
$Rojo: #ef434e;
$magenta: #81395A;
$Gris-oscuro: #323232;
$Gris-claro: #969696;
$Color-background: #e5e7ef;
$remplzazo-negro: #0d0d0d;
// animaciones 
$transition: all 400ms ease;

// tamaños

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;